
<!doctype html>
<html lang="en">
  <head>
    <title>Receipts</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          {% if user.is_authenticated %}
            <li>
              <a href="{% url 'create_receipt' %}">Create a receipt</a>
            </li>
            <li>
              <a href="{% url 'create_category' %}">Create a category</a>
            </li>
            <li>
              <a href="{% url 'create_account' %}">Create an account</a>
            </li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
              
            </li>
          {% else %}
            <li>
              <a href="{% url 'signup' %}">Sign up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">Log in</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}
      {% endblock content %}
    </main>

  </body>
</html>
