{% extends 'base.html' %}

{% block content %}
  <div>
    <h1>Expense Category</h1>
    <a href="{% url 'create_category' %}">Create</a>
    <table>
        <thead>
          <th>Name</th>
          <th>Number of receipts</th>
        </thead>
        <tbody>
          {% for category in expensecategory_list %}
            <tr>
              <td>{{ category.name }}</td>
              <td>{{ category.receipts.all|length }}</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
{% endblock content %}
