{% extends 'base.html' %}

{% block content %}
      <div>
        <h1>Logout</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <button>Logout</button>
        </form>
      </div>
{% endblock content %}
